

div{
    width: 200px;
    height: 200px;
    margin: 50px 50px;
}
.movil{
    position: relative;
    background-color: pink;
    animation: moverPosicion .1s linear alternate infinite, cambiarColor .4s linear infinite;
}
.color{
    position: relative;
    background-color: purple;
    animation: moverPosicion2 .1s linear alternate infinite, cambiarColor .4s linear infinite ;
}
body{
    background-color: black;
}
@keyframes moverPosicion{
    from{
        top: 0;
        left: 0;
    }
    to{
        top: 100%;
        left: 100%;
    }
}

@keyframes moverPosicion2{
    from{
        bottom: 100%;
        right: 100%;
    }
    to{
        bottom: 0;
        right: 0;
    }
}

@keyframes cambiarColor{
    0%{
        background-color: aqua;
    }
    10%{
        background-color: rgb(238, 255, 0);
    }
    20%{
        background-color: rgb(0, 255, 42);
    }
    30%{
        background-color: rgb(0, 21, 255);
    }
    40%{
        background-color: rgb(70, 160, 160);
    }
    50%{
        background-color: rgb(255, 0, 255);
    }
    60%{
        background-color: rgb(255, 0, 0);
    }
    70%{
        background-color: rgb(4, 16, 73);
    }
    80%{
        background-color: rgb(0, 255, 21);
    }
    90%{
        background-color: rgb(170, 255, 0);
    }
    100%{
        background-color: rgb(255, 0, 230);
    }
}