body{
    background-color: rgb(54, 54, 54);
}
.cajaArtista{
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    justify-content: center;
    align-items: center;
    color: white;
}

.nombre{
    font-size: xx-large;
}

img{
    width:1000px;
    height: 600px;
}