#main {
    background-color: grey;

}

h1 {

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.especial {
    color: blue;
}

h2,
h3 {
    border: 2px solid rgb(187, 150, 0);
}

ul li {
    color: red;

}

ul li ul li {
    color: rgb(6, 198, 15);

}

.antes {
    border: 0px;
    background-color: pink;
}

.antes+p img {
    border: solid 4px black;
}

.antes+p span img {
    border: solid 4px red;
}

.antes+p+h3 {
    border: 0px;
    background-color: blue;
}