    /*-------------------chuleta---------------------
    display: flex;    Activar la propiedad flex
    flex-direction: row;    Colocacion en linea. Atajo (flex-flow:row;)
    row-gap: 4px;    Darle espacio entre filas. Atajo (gap 4px 8px;)
    column-gap: 4px;    Darle espacio entre columnas. Atajo (gap 4px 8px;)
    align-items: end;   mandar al final los items
    justify-content: center; centra los elementos
    */


 /*----------ejercicio1---------*/
 /*
.contenedor_flex {

    background-color: lightgrey;
    display: flex;    
    flex-direction: row;    
    row-gap: 4px; 
    column-gap: 4px; 
    align-items: end;   
    justify-content: center; 
    height: 300px;
    width: 500px;
}

.flex-item {
    background-color: cornflowerblue;
    height: 50px;
}
*/

/*----------ejercicio2---------*/
/*
.contenedor_flex {

    background-color: lightgrey;
    display: flex;    
    flex-direction: row;    
    row-gap: 4px; 
    column-gap: 4px; 
    align-items: start;   
    justify-content:space-around; 
    height: 300px;
    width: 500px;
}

.flex-item {
    background-color: cornflowerblue;
    height: 50px;
}
*/


/*----------ejercicio3---------*/
/*
.contenedor_flex {

    background-color: lightgrey;
    display: flex;    
    flex-direction: column-reverse;  
    row-gap: 4px; 
    column-gap: 4px;
    justify-content: space-around; 
    height: 300px;
    width: 500px;
}

.flex-item {
    background-color: cornflowerblue;
    height: 50px;
}
*/


/*----------ejercicio4---------*/
/*
.contenedor_flex {
    display: flex;
    background-color: lightgrey;
    align-items: stretch;
    
    flex-direction: row;
    
    column-gap: 8px;
    justify-content: center;
    height: 300px;
    width: 500px;
}

.flex-item {
    background-color: cornflowerblue;
   
}
*/


/*----------ejercicio5---------*/
/*
.contenedor_flex {
    display: flex;
    background-color: lightgrey;
  align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    column-gap: 8px;

    height: 300px;
    width: 500px;
}
.flex-item {
    background-color: cornflowerblue;
    height: 50px;

}
.flex-item:hover{
    background-color: rgb(174, 15, 174);
flex-grow: 2;
transition: 1s;
}
*/


/*----------ejercicio6---------*/
/*
.contenedor_flex {
    display: flex;
    background-color: lightgrey;
  align-items: center;
   
    flex-direction: row;
    column-gap: 15px;
flex-wrap: wrap;
    height: 300px;
    width: 500px;
}
.flex-item {
    background-color: cornflowerblue;
    height: 50px;

}
*/
