.cta-container{
    background-image: url(./fondo.jpg);
    background-size: cover;
    height: 350px;
   
    text-align: center;
    padding:60px 0px 60px 0px;
    
}
.cta-text{

    
}

.cta-button{
    
}